.DivPai {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10vw 3vw 3vw;
    box-sizing: border-box;
}
/* O LEME: Controla a largura máxima de tudo */
.DivPai > span {
    display: block;
    width: 100%;
    max-width: 80vw;       /* AJUSTE AQUI: O tamanho horizontal que você deseja */
    text-align: left;       /* Alinhamento do texto dentro do bloco */
}

.TituloVideo {
    font-family: "League Spartan", sans-serif;
    font-size: 415%;        /* Se ficar grande demais ao quebrar, tente 70px */
    color: #214635;
    line-height: 1;         /* Espaçamento entre as linhas do título */
    margin-bottom: 20px;    /* Espaço entre título e subtítulo */
}
.TextoInferior {
    font-family: "League Spartan", sans-serif;
    font-size: 3rem;
    color: #214635;
    line-height: 1;
    margin-top: 15vh;

    /* O segredo para centralizar o texto */
    text-align: center;

    /* Garante que ele tenha espaço para se alinhar ao centro */
    display: block;
    width: 100%;
}

.Destaque {
    color: #00703C;
}

.Subtitulo {
    font-family: "League Spartan", sans-serif;
    font-size: 22px;
    margin-bottom: 6vh;
    color: #214635;
    line-height: 1.5;       /* Melhora a leitura do parágrafo */
}

.VideoYoutube {
    width: 100%;           /* Ocupa a largura total do span (850px) */
    aspect-ratio: 16 / 9;  /* Proporção padrão do YouTube */
    border-radius: 1.5vw;   /* Arredondamento */
    border: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* No final do seu arquivo SecaoVideo.module.css */

@media (max-width: 768px) {
    .DivPai > span {
        max-width: 90%; /* Em celulares, ocupa 90% da largura da tela */
    }

    .TituloVideo {
        font-size: 40px; /* Reduz o título para não forçar a largura */
        word-wrap: break-word; /* Força a quebra de palavras longas */
    }

    .Subtitulo {
        font-size: 16px;
    }

    .VideoYoutube {

    }
}